<div class="container text-center mt-5">
    <div class="card">
        <h3>Login Kruger Corporation</h3>
        <div class="card-body">
            <form>
                <div class="row">
                    <div class="input-group input-group-sm mt-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text">INGRESAR USUARIO</span>
                        </div>
                        <input class="form-control" type="text" required>
                    </div>
                </div>

                <div class="row">
                    <div class="input-group input-group-sm mt-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text">INGRESAR CLAVE</span>
                        </div>
                        <input class="form-control" type="password" required>
                    </div>
                </div>
                <br />
                <button class="btn btn-primary">INICIAR</button>
            </form>
        </div>

    </div>

</div>