<div class="container mt-5">
    <div class="card">
        <div class="card-header">Modulo Empleado</div>
        <div class="card-body">

            <form>
                <div class="row">
                    <div class="col-sm">
                        <div class="input-group input-group-sm mt-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Nombre</span>
                            </div>
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="input-group input-group-sm mt-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Apellido</span>
                            </div>
                            <input class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <div class="input-group input-group-sm mt-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Cedula</span>
                            </div>
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="input-group input-group-sm mt-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Fecha Nacimiento</span>
                            </div>
                            <input class="form-control" type="date">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <div class="input-group input-group-sm mt-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Correo Electronico</span>
                            </div>
                            <input class="form-control" type="email">
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="input-group input-group-sm mt-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Dirección de domicilio</span>
                            </div>
                            <input class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <div class="input-group input-group-sm mt-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Telefono Móvil</span>
                            </div>
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="input-group input-group-sm mt-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Estado de Vacunación</span>
                            </div>
                            <select class="form-control custom" required>
                                <option value="">-- Seleccione --</option>
                                <option></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="card-body">

                    <div class="row">
                        <div class="input-group input-group-sm mt-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Tipo de Vacuna</span>
                            </div>
                            <select class="form-control custom" required>
                                <option value="">-- Seleccione --</option>
                                <option></option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-group input-group-sm mt-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Fecha de Vacunación</span>
                            </div>
                            <input class="form-control" type="date">
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-group input-group-sm mt-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Numero de dosis</span>
                            </div>
                            <input class="form-control" type="text">
                        </div>
                    </div>
                </div>
                <div style="float: right;">
                    <div class="row">
                        <div class="col-sm">
                            <button class="btn btn-primary btn-sm pull-right">Filtros</button>
                        </div>
                        <div class="col-sm">
                            <button class="btn btn-success btn-sm pull-right">Guardar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>